recent_docs: 50

data_source: data
defaults:
  -
    scope:
      path: "recent.md"
    values:
      permalink: /index.html
      layout: default
      recent_docs: true
  -
    scope:
      path: "all.md"
    values:
      permalink: /all.html
      layout: default
      recent_docs: false
  -
    scope:
      path: "data/tags/*.md"
    values:
      permalink: /:basename/
      layout: default
  -
    scope:
      path: "data/bibtex/*.md"
    values:
      permalink: /:basename.bib
      layout: bibtex   
  -
    scope:
      path: "data/json/*.md"
    values:
      permalink: /:basename.json
      layout: json 
  -
    scope:
      path: "data/txt/*.md"
    values:
      permalink: /:basename.txt
      layout: txt
  -
    scope:
      path: "all_bibtex.md"
    values:
      permalink: /all.bib
      layout: bibtex
  -
    scope:
      path: "all_json.md"
    values:
      permalink: /all.json
      layout: json
  -
    scope:
      path: "all_txt.md"
    values:
      permalink: /all.txt
      layout: txt
  -
    scope:
      path: "recent_bibtex.md"
    values:
      permalink: /recent.bib
      layout: bibtex
  -
    scope:
      path: "recent_json.md"
    values:
      permalink: /recent.json
      layout: json
  -
    scope:
      path: "recent_txt.md"
    values:
      permalink: /recent.txt
      layout: txt
      
plugins:
  - jekyll-optional-front-matter
  
#collections_dir: data
#collections:
#  tags:
#    output: true
#    permalink: /:collection/:path/

