{% assign docs = "" | split:"," %}{% for doc_ in site.data.documents %}{% assign docs = docs | push: doc_[1] %}{% endfor %}{% assign docs = (docs | sort: 'date') | reverse %}{% assign tag_name_length = page.name | size | minus: 3 %}{% assign tag = page.name | slice: 0, tag_name_length %}[
{% assign docs_by_tag = "" | split:"," %}{% for doc in docs %}{% if doc.tags contains tag %}{% assign docs_by_tag = docs_by_tag | push: doc %}}{% endif %}{% endfor %}[
{% for doc in docs_by_tag %}{{ doc | jsonify }}{%if forloop.last == false %},{% endif %}
{% endfor %}
]
